*{margin: 0;
    padding: 0;
}


.cabecalho{
    background-color: rgb(255, 255, 255);
    color: rgb(215, 243, 196));
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-titulo{
    color: #82f57e;
    font-style: italic;
    font-variation-settings:
}

.cabecalho-imagem{
    width: 6%;
    border-radius: 22px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabecalho-lista-item a{
    text-decoration: none;
    color:rgb(178, 248, 113);
}

a:hover {
    color: #a5ee8f;
}

a:active{
    color: rgb(98, 231, 142);

}

.escola-imagem{
    width: 30%;
    height: 300px;
    border-radius: 82px;
}

.escola{
    background-image:linear-gradient( #79fa74, #0bec1e) ;
    color: rgb(36, 231, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 45%;
}

.Agro-titulo{
    padding:24px 0;
}

p{
    padding:0 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.estudante{
    color: rgb(97, 253, 6);
    background-image:linear-gradient( #f7c9e4, #ffffff) ;